body {
    
}

.Container {
    position:relative;
}

#lineInfo {
    position:absolute;
    left:0px;
    width:60px;
    top:0px;
    bottom:0px;
}

#writer {
    position:absolute;
    left:70px;
    top:0px;
    bottom:0px;
    right:40%;
    border-left:1px solid;
    border-right: 1px solid;
}

#helper {
    position:absolute;
    left:60%;
    top:0px;
    bottom:0px;
    right:0px;
}

.delineated {
    line-height:22px;
    font-size:18px;
}
